<%= form_with(model: tenant) do |form| %>
  <% if tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
        <% tenant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.superadmin_role == TRUE %>

  <table class="min-w-full leading-normal">
    <tbody> 
        <tr>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Company Name</p> </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-right"><%= form.text_field :company_name, required: true %></p> </td>
        </tr>
        <tr>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Description</p> </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-right"><%= form.text_field :company_description, required: true, rows: 1 %></p> </td>
        </tr>
        <tr>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Customize Your Booking Page URL</p> </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-right"><%= form.text_field :url, required: true %> </td>
        </tr>
        <tr>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Email Address</p> </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-right"><%= form.text_field :email, autofocus: true, autocomplete: "email" %></p> </td>
        </tr>
    </tbody>
  </table>


  <% else %>
    <% if current_user.supervisor_role == TRUE %>

    <table class="min-w-full leading-normal">
      <tbody> 
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Company Name</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-right"><%= form.text_field :company_name, required: true %></p> </td>
          </tr>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Description</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-right"><%= form.text_field :company_description, required: true, rows: 1 %></p> </td>
          </tr>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Customize Your Booking Page URL</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-right"><%= form.text_field :url, required: true, :readonly => true %> </td>
          </tr>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Email Address</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-right"><%= form.text_field :email, autofocus: true, autocomplete: "email", :readonly => true %></p> </td>
          </tr>
      </tbody>
    </table>

    <% end %>
  <% end %>

  <div class="actions">
    <b onclick="submitFunction()"><%= form.submit %></b>
    </div>
<% end %>

<script>
  function submitFunction() {
    window.onbeforeunload = null;
  };
</script>