<%= form_with(model: tenant) do |form| %>
  <% if tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
        <% tenant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.superadmin_role == TRUE %>

    <div class="field">
      <label>Company Url</label>
      <%= form.text_field :url, required: true %>
    </div>

    <div class="field">
      <label>Company Name</label>
      <%= form.text_field :company_name, required: true %>
    </div>

    <div class="field">
      <label>Description</label>
      <%= form.text_area :company_description, required: true, rows: 1 %>
    </div>

      <div class="field">
        <label>Email Address</label>
        <%= form.text_field :email, :placeholder => "Can add later" %>
      </div>

  <% else %>
    <% if current_user.supervisor_role == TRUE %>

    <div class="field">
      <label>Company Url</label>
      <%= form.text_field :url, required: true, :readonly => true %>
    </div>

    <div class="field">
      <label>Company Name</label>
      <%= form.text_field :company_name, required: true %>
    </div>

    <div class="field">
      <label>Description</label>
      <%= form.text_area :company_description, required: true, rows: 1 %>
    </div>

      <div class="field">
        <label>Email Address</label>
        <%= form.text_field :email, :placeholder => "Can add later", :readonly => true %>
      </div>

    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
