<% content_for :title do %>Sign Up<% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="w-full p-8 flex justify-center font-sans">

<div class="rounded bg-white w-80 p-4">
    <div class="flex justify-between py-1">
      <h2 class="text-2xl">Sign up</h2>
    </div>
    <div class="text-md mt-2">

    <%= f.label :name,class: "mt-1 float-left"%>
    <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "bg-white p-2 rounded border-b border-grey cursor-pointer w-full" %>

    <%= f.label :email,class: "mt-1 float-left"%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "bg-white p-2 rounded border-b border-grey cursor-pointer w-full" %>

    <%= f.label :password,class: "mt-4 float-left" %>
    <% if @minimum_password_length %>
    <em class="float-left mt-4">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "bg-white p-2 rounded border-b border-grey cursor-pointer w-full" %>

    <%= f.label :password_confirmation,class: "mt-4 float-left" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "bg-white p-2 rounded border-b border-grey cursor-pointer w-full" %>

    <div class="actions mt-4 mb-4">
      <%= f.submit "Sign up",class: "bg-purple-700 text-white active:bg-purple-800 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 w-full" %>
    </div>
  </div>

  <% end %>

  <%= render "devise/shared/links" %>

</div>

</div>
