<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <p>from form 2</p>
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :gender %>
        <%= form.text_field :gender,:readonly => true %>
      </div>

      <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone,:readonly => true %>
      </div>

      <div class="field">
        <%= form.label :birthday %>
        <%= form.text_field :birthday,:readonly => true %>
      </div>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address,:readonly => true %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email,:readonly => true %>
      </div>

      <div class="field">
        <br>
        <p>Plus <b><i>'Date & Time and Optional Message field'</i></b> (Is there anything you want to tell the Client?) </p>
      </div>

      <div class="field">
      <%= form.hidden_field :account_id, value: @account.id %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>

  <% end %>
