<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @schedule.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @schedule.gender %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @schedule.phone %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @schedule.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @schedule.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @schedule.email %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
