<% content_for :title do %><%= @account.name %><% end %>
<p id="notice"><%= notice %></p>

<br>
<% if current_user.superadmin_role == TRUE ||  current_user.supervisor_role == TRUE %>

  <h1><%= @account.slug %> page</h1><br>

  <p>
    <strong>Name:</strong>
    <%= @schedule.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @schedule.gender %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @schedule.phone %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= @schedule.birthday %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @schedule.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @schedule.email %>
  </p>

  <br>
  <%= link_to 'Back', accounts_path %>Back</a> |
  <%= link_to 'Reschedule', edit_schedule_path(@schedule) %> |
  <%= link_to 'Cancel Booking', @schedule, method: :delete, data: { confirm: 'Are you sure?' } %>

<% else %>

  <br>

  <h1><%= @account.slug %> page</h1><br>

  <h1>Hi <%= @schedule.name %>, Thanks for booking!</h1><br>

  <p>
    <strong>Name:</strong>
    <%= @schedule.name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @schedule.gender %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @schedule.phone %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= @schedule.birthday %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @schedule.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @schedule.email %>
  </p>

  <br>

    <%= link_to 'Book Another', new_schedule_path %>

<% end %>