<%= form_with(model: time_tracker) do |form| %>
  <% if time_tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_tracker.errors.count, "error") %> prohibited this time_tracker from being saved:</h2>

      <ul>
        <% time_tracker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :time_start %>
    <%= form.date_select :time_start %>
  </div>

  <div class="field">
    <%= form.label :time_end %>
    <%= form.date_select :time_end %>
  </div>

  <div class="field">
    <%= form.label :total_time %>
    <%= form.text_field :total_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
