<p id="notice"><%= notice %></p>

<h1>Time Trackers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Time start</th>
      <th>Time end</th>
      <th>Total time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_trackers.each do |time_tracker| %>
      <tr>
        <td><%= time_tracker.name %></td>
        <td><%= time_tracker.email %></td>
        <td><%= time_tracker.time_start %></td>
        <td><%= time_tracker.time_end %></td>
        <td><%= time_tracker.total_time %></td>
        <td><%= link_to 'Show', time_tracker %></td>
        <td><%= link_to 'Edit', edit_time_tracker_path(time_tracker) %></td>
        <td><%= link_to 'Destroy', time_tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Tracker', new_time_tracker_path %>
