<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @time_tracker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @time_tracker.email %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @time_tracker.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @time_tracker.time_end %>
</p>

<p>
  <strong>Total time:</strong>
  <%= @time_tracker.total_time %>
</p>

<%= link_to 'Edit', edit_time_tracker_path(@time_tracker) %> |
<%= link_to 'Back', time_trackers_path %>
