<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Full Name</label>
    <%= form.text_field :name, required: true, value: current_user.name %>
  </div>

  <div class="field">
    <label>Email</label>
    <%= form.text_field :email, required: true, value: current_user.email %>
  </div>

  <div class="field">
    <label>Phone Number</label>
    <%= form.text_field :phone, required: true %>
  </div>

  <div class="field">
    <label>Gender</label><br>
    <%= form.radio_button :gender, 'Male' %> Male
    <%= form.radio_button :gender, 'Female' %>Female
    <%= form.radio_button :gender, 'N/A' %>N/A
  </div>

  <div class="field">
    <label>Birthday</label>
    <%= form.date_select :starts_at, start_year: Time.now.year - 70, end_year: Time.now.year %>
  </div>

  <div class="field">
    <label>Complete Address <i>(Street, Barangay, Municipality/ City)</i></label>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <label>Date & Time</label>
    <%= select nil, "", (Date.today.year..Date.today.year+2).collect { |y| y }, options = {}, id: "" %>
    <%= select nil, "", (Date.today..Date.today.end_of_year).collect { |d| ["#{d.strftime('%B')}", d.strftime('%m')] }.uniq, options = {}, id: "" %>
    <%# <%= form.date_select :starts_at, start_year: Time.now.year %>
    <%= form.time_select :starts_at, :ignore_date => true, :minute_step => 30, :ampm => true %>
  </div>




  <div class="field">
    <%= form.hidden_field :tenant_id, value: @tenant.id %>
    <%= form.hidden_field :company_name, value: @tenant.company_name %>
  </div>

<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
