<% content_for :head_js do %>
  <%= javascript_packs_with_chunks_tag 'application', 'create_appointment'%>
<% end %>
<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="inline-block min-w-half shadow rounded-lg overflow-hidden bg-white mt-5">
<h1 class="mt-4 font-semibold">BOOK AN APPOINTMENT NOW! </h1><br>

  <table class="min-w-full leading-normal">
      <tbody>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Full Name</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <%= form.text_field :name, required: true, value: current_user.name, :class => 'bg-white p-1 rounded border-b w-full' %>
              </td>
          </tr>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Email</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <%= form.text_field :email, required: true, value: current_user.email, :class => 'bg-white p-1 rounded border-b w-full' %>
              </td>
          </tr>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Phone Number</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <%= form.text_field :phone, required: true, :class => 'bg-white p-2 rounded border-b w-full', :placeholder => '+639xxxxxxxxxx' %>
              </td>
          </tr>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Gender</p> </td>
              <td class="border-b border-gray-200 bg-white text-sm text-left pl-5">
                <%= form.label :gender, "Male", :value => "male"  %>
                <%= form.radio_button :gender, 'male' %>
                <%= form.label :gender, "Female", :value => "female" %>
                <%= form.radio_button :gender, 'female'%>
                <%= form.label :gender, "N/A", :value => "none" %>
                <%= form.radio_button :gender, 'none', :checked => true %>
              </td>
          </tr>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Birthday</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-left pl-5">
                <%= form.date_select :birthday,{:start_year => 1950, :end_year => 2005}, {class: "form-select appearance-none px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"}  %>
              </td>
          </tr>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Address</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                <%= form.text_field :address, :placeholder => 'Street, Barangay', required: true, :class => 'bg-white p-1 rounded border-b w-full' %>
                <br>
                <%= form.text_field :address, :placeholder => 'Municipality/ City', required: true, :class => 'bg-white p-1 rounded border-b w-full' %>
              </td>
          </tr>
          <tr>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm"> <p class="text-gray-900 whitespace-no-wrap text-left">Date & Time</p> </td>
              <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-left pl-5">
                <%= form.select :year, (Date.today.year..Date.today.year+2).collect { |y| y }, options = {}, id: "", :class => "form-select appearance-none px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>

                <%= form.select :month, options_for_select(%w[January February March April May June July August September October November December]), {}, { :class => 'month_select form-select appearance-none px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'} %>
                <%= form.select :day, options_for_select(%w[1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31]), {}, { :class => 'day_select form-select appearance-none px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none' } %>

                <%= form.time_select :time, {:ignore_date => true, :minute_step => 30, :ampm => true }, { :class => "form-select appearance-none px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" }  %>
              </td>
          </tr>
      </tbody>
  </table>

  <div class="actions bg-white">
      <div id="appointment_dates"><% Appointment.all.each do |row| %><%= row.appointment %>,<% end %></div>

      <div class="field">
        <%= form.hidden_field :tenant_id, value: @tenant.id %>
        <%= form.hidden_field :company_name, value: @tenant.company_name %>
        <select class="d-none" name="" id="for_cloning_select" style="display:none">

        </select>
      </div>

      <div class="actions">
        <br><%= form.submit 'Create Appointment', :class => 'bg-purple-700 text-white active:bg-purple-800 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 cursor-pointer' %><br><br>
      </div>
  </div>
</div>
<% end %>

