<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Full Name</label>
    <%= form.text_field :name, required: true, value: current_user.name %>
  </div>

  <div class="field">
    <label>Email</label>
    <%= form.text_field :email, required: true, value: current_user.email %>
  </div>

  <div class="field">
    <label>Phone Number</label>
    <%= form.number_field :phone, required: true %>
    <%# <%= form.text_field :phone, required: true %>
  </div>

  <div class="field">
    <label>Gender</label><br>
    <%= form.label :gender, "Male", :value => "male"  %>
    <%= form.radio_button :gender, 'male' %>
    <%= form.label :gender, "Female", :value => "female" %>
    <%= form.radio_button :gender, 'female'%>
    <%= form.label :gender, "N/A", :value => "none" %>
    <%= form.radio_button :gender, 'none', :checked => true %>
  </div>

  <div class="field">
    <label>Birthday</label>
    <%= form.date_select :birthday, start_year: 1950, end_year: 2005, required: true %>
  </div>

  <div class="field">
    <label>Address</label>
    <%= form.text_field :address, :placeholder => 'Street, Barangay', required: true %>
    <%= form.text_field :address, :placeholder => 'Municipality/ City', required: true %>
  </div>

  <div class="field">
    <label>Date & Time</label>
    <%= form.select :year, (Date.today.year..Date.today.year+2).collect { |y| y }, options = {}, id: "" %>
    <%= form.select :month, (Date.today..Date.today.end_of_year).collect { |d| ["#{d.strftime('%B')}", d.strftime('%m')] }.uniq, options = {}, id: "" %>
    <%= form.select :day, (Date.today..Date.today.end_of_year).collect { |d| ["#{d.strftime('%d')}", d.strftime('%d')] }.uniq, options = {}, id: "" %>
    <%# <%= form.date_select :starts_at, start_year: Time.now.year %>
    <%= form.time_select :time, :ignore_date => true, :minute_step => 30, :ampm => true %>
  </div>

  <div class="field">
    <%= form.hidden_field :tenant_id, value: @tenant.id %>
    <%= form.hidden_field :company_name, value: @tenant.company_name %>
  </div>

<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
