<!DOCTYPE html>
<html>
  <head>
    <title>Sched</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "authentication"%>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="bg-gray-200">
  <a class="navbar-brand" href="/schedules/new">Octo Sched</a>

  <% if current_user %>
    <% if current_user.superadmin_role == TRUE %>
    | <%= link_to "Admin Dashboard", rails_admin_path, :class => 'nav-link' %> |
      <a href="/accounts">Manage Accounts</a>
    <% else %>
      <% if current_user.supervisor_role == TRUE %>
      | <a href="/schedules">Manage Schedules</a>
      <% end %>
    <% end %>
    | <strong><%= current_user.email %></strong> |
    <%= link_to 'Edit profile', edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>

  <%= yield %>

  <%
  if current_user
    unless session[:display_welcome]
      flash.now[:notice] = "Welcome! " + current_user.email
      session[:display_welcome] = true
    end
  end
  %>

  
  <% if notice %>
    <div class="alert alert_default alert-dismissible">
      <a href="#" class="flash_close_btn" data-dismiss="alert" aria-label="close">&times;</a>
      <%= notice %>
    </div>
  <% end %>

</body>
</html>
