<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, required: true %>
  </div>

  <div class="field">
    <%= form.label :name, required: true %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description, required: true %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, :placeholder => "Can add later" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
