    <% if user_signed_in?
      if can? :manage, :all %>
        <br>
        <%= link_to "Admin Dashboard", rails_admin_path, :class => 'nav-link' %> 
        <br>
        <a href="/accounts">Manage Accounts</a> # can only access by superadmin
        <br>
        <strong><%= current_user.email %></strong>
      <% else %>
        <br>
        <a href="/schedules">Manage Schedules</a> # can't view if you're superadmin, you can access per company's admin page on account details       # use cancancan to check the user level 
        <br>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
        <br>
        <strong><%= current_user.email %></strong>
      <% end
  
    end %>

      <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
      <a href="/users/sign_in">Login<a>
      <% end %>
  
  <h1> Main Page</h1>
  
  <h2>The users can book an appointment here</h2>
        
  <p>Form here</p>
        
  <p>Please check your-slug.localhost:3000/schedules/new</p>
        
  hetbgtdrkjn
