<p id="notice"><%= notice %></p>
<br><br>

<% if current_user.superadmin_role == TRUE %>
  <h1>Admin page</h1>

  <table>
    <thead>
        <tr>
        <th>Slug</th>
        <th>Name</th>
        <th>Description</th>
        <th>Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.slug %></td>
          <td><%= account.name %></td>
          <td><%= account.description %></td>
          <td><%= account.email %></td>
          <td><%= link_to 'Show', account %></td>
          <td><%= link_to 'Edit', edit_account_path(account) %></td>
          <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Create New Account', new_account_path %>

<% else %>

  <br>
  <%= link_to 'Book an appointment', new_schedule_path %>

<% end %>